
@use './variables' as *;
html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content__main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.main__page {
  flex: 1 0 auto; 
  display: flex;
  flex-direction: column;
}

main.page {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  padding: 50px 16px 16px 16px;
  background-color: $color-bg;
}
/* Overlay */
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 900;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay--active {
    opacity: 1;
    pointer-events: auto;
}


/* Services header */
.page {
    width: 100%;
    min-width: 320px; 
    max-width: 1120px; 
    margin: 0 auto;
}


/* Buttons position */
.services__toolbar {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    gap: 16px;
    background-color: $color-white;
}

.services__toolbar--button {    
    background: none;
    border: none;
}

.company__logo {
    margin-right: auto;
}

.toolbar__button--middle {
    display: flex;
    gap: 16px;  
}

.toolbar__button--right {
    display: flex;
    gap: 16px;
} 

.divider__1,
.divider__2 {
    height: 32px;
    border: 1px solid $color-bg;
    color: $color-bg;
}

.divider__1,
.toolbar__button--middle,
.button__label--repair,
.button__label--checkstatus {
    display: none;
    white-space: nowrap;
}

 .toolbar__button--right--2 {
    margin-left: auto;
    margin-right: 16px;
    display: none;
    gap: 16px;
}

.toolbar--btn--repair,
.toolbar--btn--check {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.button__label--checkstatus,
.button__label--repair {
    display: flex;
    white-space: nowrap;
}

/* Navigation menu */
.section__navbar {
    display: flex;
    flex-direction: row; 
    margin: 24px 0;  
}
.highlight {
    width: 4px;
    height: 40px;
    background-color: $color-accent;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.hero__section--title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-left: 16px;
}

.services__navigation {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1120px;
    margin: 24px 16px;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

/* Navigation scroll */
.services__navigation--scroll {
    overflow-x:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
   
.services__navigation--scroll::-webkit-scrollbar { display: none; }

.services__navigation--link {
    display: flex;
    flex: 0 0 auto;
    text-decoration: none;
    padding: 0 20px;
    color: $color-gray;
    border: 2px solid transparent;
    border-radius: $radius; 
}

.services__navigation--link:hover,
.services__navigation--link:active {
    border: 2px solid $color-accent;
    border-radius: $radius;
    transition: border-color 0.2s;
}

/* HERO Services content */ 
.services__content {
    display: flex;
    flex-direction: column; 
   
    padding: 16px;
    gap: 20px;
}

.services__text,
.services__content__image {
    flex-shrink: 0;   
}


.services__content__image--img {
    width: 100%;
    height: auto; 
    max-width: 100vw;   
}

.services__text--p1 {
    margin-bottom: 20px;
}
.condition-text {
    margin: 16px;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;

}
.offer_anchor {
margin: 16px;
display: flex;
gap: 8px;
align-items: center;
text-decoration: none;
font-weight: 500;
font-size: 18px;
color: $color-black;
line-height: 24px;
letter-spacing: -0.2px;

}

.condition-text {
    max-width: 60%;
}
 


/* Responsive parameters */
    
@media (min-width: 768px) {

    .services__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .divider__1,
    .toolbar__button--middle {
        display: flex;
    }

    .services__text {
        width: 60%;
        margin-right: 24px;
    }

    .services__text-full {
        display: none;
    }

    .services__content__image {
        width: 40%;   
    }
    .content__main__container { 
        max-width: 1120px;   
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }

    footer {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-align: center;
        padding: 50px 16px 16px 16px;
        background-color: $color-bg;

    }

    footer > div {
    flex: 1;
    }

    footer > div:first-child {
        text-align: left;
    }

    footer > div:nth-child(2) {
        text-align: center;
    }

    footer > div:nth-child(3) {
        text-align: right;
    }


        .swiper-pagination {
        display: none; 
    }
}

@media (min-width: 1366px) {

        .content__main__container {
            margin-left: $sidebar-width;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
    }


    .services__toolbar {
        display: none;
    }
    
    .toolbar__button--right--2 {
        display: flex;
    }

    .services__navigation {
        display: flex;
        flex-wrap: wrap;
        max-width: 1120px;
        margin: 24px 16px;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .services__navigation--link {
        white-space: normal;
    }

    .services__content {
        flex-direction: row;
        align-items: flex-start;
    }

    .services__text {
        width: 50%;
    }
    p.services__text-short {
        text-align: justify;
    }

    .services__content__image {
        width: 50%;
    }

    .toolbar__button--right--2 {
        display: flex;
    }

    .button__label--repair,
    .button__label--checkstatus {
        font-size: 16px;
        font-weight: 500;
        color: $color-black;
        font-family: $font-main;
    }
    }

@media (min-width: 1366px) {
    .main__page {
        display: flex; 
        width: 100%;
        max-width: 1440px;
        padding: 0;
    }

    .modal__navigation {
    top: 0;
    left: 0;
    width: 320px; 
    height: 100vh;
    overflow-y: auto;
    transform: none;
    z-index: 1000;
    box-shadow: none;
    display: flex;
    
  }
  .navigation__button--hide {
    display: none;
  }
  .navigation__header__left {
    display: flex;
    justify-content: flex-start;
  }
  .overlay {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }
  
footer {
    
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  text-align: center;
  padding: 50px 16px 16px 16px;
  background-color: #F8F8F8;
}

footer > div {
    flex: 1;
}

footer > div:first-child {
    text-align: left;
}

footer > div:nth-child(2) {
    text-align: center;
}

footer > div:nth-child(3) {
    text-align: right;
}
}