
@use './variables' as *;
/* Swiper container */
.swiper__title__container {
   background: linear-gradient(270deg, $color-bg 0%, $color-white 98.61%);
}
.swiper__title--text {
  width: 100%;
padding: 16px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: $color-gray;

}

.swiper-slide.services-item {
  margin: 16px;
  padding: 16px;
  width: 270px;
  height: 200px;
  background-color: $color-white;
  border-radius: 8px;
  margin-bottom: 50px;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__swiper-label span,
.services__swiper-price span,
.services__swiper-period span
 {
  display: block;
}

.services__swiper-period {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: $color-bg;

}

.services-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.services--btn {
  background: none;
  border: none;

}

.swiper-pagination-bullet-active {
    background-color: $color-gray;   
}


 /* Grid container */
.services__table-title {
margin-bottom: 24px;
padding: 24px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: $color-gray;
 background: linear-gradient(270deg, $color-bg 0%, $color-white 98.61%);
}

.services__table {
  width: 100%;
  background-color: $color-white;
  table-layout: fixed;
  text-align: justify;
  border-collapse: collapse;
  border-radius: 8px; 
}

.services__table-label {
  margin: 16px 0 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: $color-gray; 
}

.services__table-value {
  margin-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: $color-black;
}

.services__table td,
.services__table th {
  border-bottom: 1px solid $color-gray;
}

.services_order {
  margin: 16px;
  background: none;
  border: none;
}


@media (max-width: 767px) {
  .services__table {
    display: none;
  }

  .services-swiper {
    display: block;
  }

  .services__table-container {
    display: none;
  }
}


@media (min-width: 768px) {

.swiper.services__container {
  display: none;
}
.services__table th {
  padding: 24px;
  position: relative;
}

.services__table td {
  padding: 0 24px;
  position: relative;
}
.services__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: $color-gray;
  
}

.services__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: $color-bg;
}

}