
   
@use './variables' as *;
.brands__container {    
    width: 100%;
    height: auto;
    background-color: $color-bg;

}
/* SWIPER */
.swiper__container {
    width: 100%;
    height: auto;
}


/* Swiper title */
.swiper__title__container {

padding: 16px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-transform: uppercase;
color: $color-bg;
 background: linear-gradient(270deg, $color-bg 0%, $color-white 88.61%);
}

.swiper__title--text {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;  
   
}


/* Swiper slide box */
.swiper-wrapper {
  margin-bottom: 36px;
  
}

.swiper-slide.equipment-item {
  width: 224px;
  height: 160px;
  border-radius: 8px;
  font-family: $font-main;
  background-color: $color-white;
  padding: 16px;
}

.swiper__2--img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
}


/* Swiper pagination */ 
.swiper-pagination {
display: flex;
justify-content: center;
position: relative;

}

.swiper-pagination-bullet-active {
    background-color: $color-bg;   
}


.toggle--btn {
    width: 134px;
    height: 24px;
    font-family: $font-main;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    margin: 24px;
    gap: 8px;
    align-items: center;
}




@media (max-width: 767px) {
  .swiper-wrapper {
    display: flex;
    max-height: none;
    overflow: visible;
    gap: 16px;
  }
}
@media (min-width: 768px) {

  .swiper-wrapper.wrapper__equipment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 16px;

    max-height: 175px;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .swiper-wrapper.is-open {
    max-height: none;
  }

  .swiper-pagination {
    display: none;
  }

  .toggle--btn {
    display: flex;
  }
}

/* DESKTOP */
@media (min-width: 1366px) {
  .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}