
@use './variables' as *;

.brands__container {    
    width: 100%;

}
/* SWIPER */
.swiper__container {
    width: 100%;
    height: auto;
}


/* Swiper title */
.swiper__title__container {
  padding: 16px;

  margin-bottom: 24px;
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
    background: linear-gradient(90deg, $color-bg 0%, $color-white 98.61%);
}

.swiper__title--text {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $color-gray;
}


/* Swiper slide box */
.swiper-wrapper {
  margin-bottom: 36px;
}

.swiper-slide.brands-item {
  margin: 16px;
  padding: 16px;
  width: 240px;
  height: 72px;

}

.swiper-pagination-bullet-active {
    background-color: $color-gray;   
}


.toggle--btn {
    height: 24px;
    font-family: $font-main;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
    border: none;
    margin-left: 24px;
    gap: 8px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}




@media (max-width: 767px) {
  .swiper-wrapper {
    display: flex;
    max-height: none;
    overflow: visible;
    gap: 16px;
  }
}
@media (min-width: 768px) {

  .swiper-wrapper.wrapper__brands {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    
    padding: 16px;
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .swiper-wrapper.is-open {
    max-height: none;
  }

}
  
/* DESKTOP */
@media (min-width: 1366px) {
  .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}